<div class="up_contents">
  <div class="message_user">
    <%= message.user.name %>
  </div>
  <div class="message_created">
    <%= message.created_at %>
  </div>
</div>
<div class="down_contents">
  <%= message.content %>
</div>